@import url(normalize.css);
@font-face {
  font-family: 'Gotham Rounded MediumItalic';
  src: url("../assets/fonts/GothamRounded-MediumItalic.eot");
  src: url("../assets/fonts/") format("embedded-opentype"), url("../assets/fonts/GothamRounded-MediumItalic.woff2") format("woff2"), url("../assets/fonts/GothamRounded-MediumItalic.woff") format("woff"), url("../assets/fonts/GothamRounded-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url("../assets/fonts/GothamRounded-Book.eot");
  src: url("../assets/fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamRounded-Book.woff2") format("woff2"), url("../assets/fonts/GothamRounded-Book.woff") format("woff"), url("../assets/fonts/GothamRounded-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Rounded Medium';
  src: url("../assets/fonts/GothamRounded-Medium.eot");
  src: url("../assets/fonts/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamRounded-Medium.woff2") format("woff2"), url("../assets/fonts/GothamRounded-Medium.woff") format("woff"), url("../assets/fonts/GothamRounded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Rounded BookItalic';
  src: url("../assets/fonts/GothamRounded-BookItalic.eot");
  src: url("../assets/fonts/GothamRounded-BookItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GothamRounded-BookItalic.woff2") format("woff2"), url("../assets/fonts/GothamRounded-BookItalic.woff") format("woff"), url("../assets/fonts/GothamRounded-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

body {
  font-family: 'Gotham Rounded Medium', sans-serif;
  color: #8c9398;
  background-color: #fff;
  overflow-x: hidden;
  min-height: 100%; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

p {
  margin: 0; }

.wr-hero {
  background-image: url("../assets/img/hero@1X.jpg");
  background-size: cover;
  height: 100vh; }
  .wr-hero .container .menu .bars {
    display: block; }
  .wr-hero .container .menu .times {
    display: none; }
  @media screen and (max-width: 375px) {
    .wr-hero .container .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .wr-hero .container .menu .bars {
        right: unset; }
      .wr-hero .container .menu .times {
        display: none; } }
  .wr-hero .container .menu.active .bars {
    display: none; }
  .wr-hero .container .menu.active .times {
    display: block;
    position: absolute;
    right: 300px;
    top: 58px;
    color: #353535; }
  .wr-hero .container .bars {
    position: absolute;
    right: 130px;
    top: 60px;
    color: #353535; }
  .wr-hero .container .bars:hover {
    cursor: pointer;
    fill: #3dc9b3; }
  .wr-hero .container .times:hover {
    cursor: pointer;
    fill: #3dc9b3; }
  .wr-hero .container h1 {
    font-family: 'Gotham Rounded Book', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 12px;
    line-height: 1;
    margin-bottom: 17px; }
    .wr-hero .container h1 span:first-child {
      color: #353535; }
  .wr-hero .container .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 23vh; }
  .wr-hero .container header {
    display: none;
    position: absolute;
    right: 0; }
    .wr-hero .container header.active {
      display: block; }
    .wr-hero .container header .navigation .nav-bar {
      background-color: #242830;
      margin: 0;
      height: 100vh;
      z-index: 20; }
      .wr-hero .container header .navigation .nav-bar li {
        list-style: none;
        border-bottom: 1px solid #f3f5f8;
        margin-bottom: 30px;
        padding-right: 50px; }
        .wr-hero .container header .navigation .nav-bar li:first-child {
          padding-top: 30px; }
        .wr-hero .container header .navigation .nav-bar li a {
          font-family: 'Gotham Rounded Book', sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          color: #3dc9b3; }
          .wr-hero .container header .navigation .nav-bar li a:hover {
            color: #fff; }
    @media screen and (max-width: 375px) {
      .wr-hero .container header {
        width: 100%;
        height: 70vh; } }
  @media screen and (max-width: 375px) {
    .wr-hero .container h1 {
      font-size: 20px; } }
  @media screen and (max-width: 375px) {
    .wr-hero {
      height: 70vh; } }

.description {
  font-family: 'Gotham Rounded Book', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 16px; }

.button {
  font-size: 15px;
  color: #fff;
  background-color: #3dc9b3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 23px 40px;
  border-radius: 5px;
  box-shadow: 0 3px 0 #309383;
  margin: 50px 0 260px;
  transition: 0.5s; }

.button:hover {
  background-color: #29ad97; }

.button:active {
  background-color: #309383;
  box-shadow: none;
  border-color: #309383; }

.wr-intro {
  background-color: #f3f5f8;
  padding-top: 95px;
  padding-bottom: 120px; }
  .wr-intro .container .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wr-intro .container .intro .intro-content {
      font-family: 'Gotham Rounded Book', sans-serif;
      text-align: center;
      line-height: 30px;
      max-width: 790px; }
      .wr-intro .container .intro .intro-content span {
        color: #353535; }
  @media screen and (max-width: 375px) {
    .wr-intro {
      padding: 50px 0; }
      .wr-intro h2 {
        font-size: 12px; } }

h2 {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #353535;
  margin-bottom: 16px; }
  @media screen and (max-width: 375px) {
    h2 {
      font-size: 12px;
      text-align: center; } }

.decoration {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 560px; }
  .decoration img:nth-child(2) {
    margin: 5px 34px 0; }
  @media screen and (max-width: 375px) {
    .decoration {
      margin-bottom: 15px; } }

.wr-features {
  padding-top: 90px;
  padding-bottom: 100px; }
  .wr-features .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wr-features .features .decoration {
      margin-bottom: 86px; }
  .wr-features .features-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 1024px) {
      .wr-features .features-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .wr-features .features-content .features-content-container {
          padding-bottom: 30px; } }
  @media screen and (max-width: 375px) {
    .wr-features {
      padding: 40px 0; } }

h3 {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #353535;
  margin-bottom: 55px; }

h3::before {
  content: '';
  position: absolute;
  left: 40%;
  bottom: -26px;
  width: 30px;
  height: 10px;
  border-bottom: 4px solid #3dc9b3; }

.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 151px;
  height: 151px;
  background-color: #3dc9b3;
  border-radius: 50%;
  margin-bottom: 35px; }
  @media screen and (max-width: 375px) {
    .icon-wrapper {
      width: 100px;
      height: 100px;
      margin-bottom: 20px; } }
  .icon-wrapper i {
    color: #fff; }

.features-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .features-content-container p {
    line-height: 20px;
    padding: 0 14px;
    text-align: center;
    margin: 0; }

.wr-advantages {
  background-image: url("../assets/img/iPhone_5S@1X.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 30%; }
  .wr-advantages .container {
    max-width: 100%; }
    @media screen and (max-width: 1024px) {
      .wr-advantages .container {
        padding: 0; } }
    .wr-advantages .container .iphone5 {
      width: 46%;
      display: inline-block; }
      @media screen and (max-width: 375px) {
        .wr-advantages .container .iphone5 {
          display: none; } }
    .wr-advantages .container .slider-iphone {
      padding: 125px 300px 165px 107px; }
      @media screen and (max-width: 1024px) {
        .wr-advantages .container .slider-iphone {
          padding: 0 30px 150px; } }
  @media screen and (max-width: 375px) {
    .wr-advantages {
      padding: 0; } }

.wr-slider {
  width: 54%;
  display: inline-block;
  background-color: #fff;
  position: relative; }
  .wr-slider .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wr-slider .slide p {
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
      padding-bottom: 10px;
      margin: 0; }
  .wr-slider .slick-dots {
    width: 50%;
    bottom: 128px; }
    @media screen and (max-width: 1024px) {
      .wr-slider .slick-dots {
        width: 100%;
        bottom: 85px;
        left: 0; } }
  .wr-slider .slick-dotted.slick-slider {
    margin-bottom: 0; }
  @media screen and (max-width: 1024px) {
    .wr-slider {
      width: 100%;
      padding: 10px; } }

.slick-dots li button:before {
  content: '';
  border: 2px solid #8c9398;
  border-radius: 100%;
  width: 10px;
  height: 10px; }

.slick-dots li.slick-active button:before {
  background-color: #000; }

.wr-quote {
  background-image: url("../assets/img/flower@1X.jpg");
  background-position: center center;
  padding-top: 25px;
  padding-bottom: 50px;
  position: relative; }
  .wr-quote .container {
    text-align: center;
    position: relative; }
    .wr-quote .container h4 {
      font-family: 'Gotham Rounded Book', sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 40px;
      letter-spacing: 10px;
      margin-bottom: 36px; }
      @media screen and (max-width: 375px) {
        .wr-quote .container h4 {
          font-size: 20px;
          margin-bottom: 25px; } }
    .wr-quote .container span {
      font-size: 25px;
      letter-spacing: 8px; }
      @media screen and (max-width: 375px) {
        .wr-quote .container span {
          font-size: 15px; } }
    .wr-quote .container .smooth-scrolling {
      display: inline-block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      text-decoration: none;
      line-height: 64px;
      color: #fff;
      background-color: #3dc9b3; }
      .wr-quote .container .smooth-scrolling svg {
        fill: #fff; }
    .wr-quote .container .smooth-scrolling:hover {
      background-color: #29ad97; }
  .wr-quote::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.services-slider {
  position: relative;
  padding-top: 105px;
  padding-bottom: 140px; }
  .services-slider .slick-dots {
    bottom: 70px; }
  @media screen and (max-width: 375px) {
    .services-slider {
      padding: 60px 0 120px;
      margin-right: 25px; } }

.services-slide {
  text-align: center; }
  .services-slide h3:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 30px;
    height: 10px;
    border-bottom: 3px solid #3dc9b3; }
  .services-slide .wrapper-overlay {
    position: relative;
    width: 360px;
    height: 200px;
    margin-bottom: 40px; }
    .services-slide .wrapper-overlay p {
      font-size: 14px;
      line-height: 20px;
      padding: 0 9px; }
    .services-slide .wrapper-overlay img {
      display: inline-block;
      width: 360px;
      height: 200px;
      margin-bottom: 50px; }
    .services-slide .wrapper-overlay h3 {
      margin-bottom: 40px; }
    .services-slide .wrapper-overlay:hover .slide-overlay {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .services-slide .wrapper-overlay:hover .slide-overlay svg {
        fill: #fff;
        margin-bottom: 10px;
        z-index: 10; }
      .services-slide .wrapper-overlay:hover .slide-overlay a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        z-index: 10; }
    .services-slide .wrapper-overlay .slide-overlay {
      position: absolute;
      display: none; }
      .services-slide .wrapper-overlay .slide-overlay::before {
        content: '';
        position: absolute;
        display: block;
        background-color: #3dc9b3;
        opacity: .5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }

.wr-marketing {
  padding-top: 64px;
  padding-bottom: 59px;
  background-color: #242830; }
  .wr-marketing .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .wr-marketing .container a {
      font-size: 15px;
      color: #fff;
      padding: 32px 42px 25px;
      border: 1px solid #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s; }
      @media screen and (max-width: 375px) {
        .wr-marketing .container a {
          font-size: 10px;
          padding: 22px 32px 15px; } }
    .wr-marketing .container a:hover {
      border: 1px solid #3dc9b3;
      background-color: #3dc9b3;
      transition: 0.5s; }

.wr-team {
  padding-top: 75px;
  padding-bottom: 180px; }
  .wr-team .container .slick-dots {
    bottom: -100px; }
  .wr-team .container .content-wrapper-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .wr-team .container .team-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wr-team .container .team-slide h3 {
      margin-bottom: 50px; }
    .wr-team .container .team-slide p {
      margin-bottom: 20px;
      text-align: center; }
    .wr-team .container .team-slide .poligon {
      position: relative;
      text-align: center;
      margin: 0 auto;
      width: 60%;
      max-width: 200px;
      margin-bottom: 30px; }
      .wr-team .container .team-slide .poligon::after {
        content: " ";
        display: block; }
      .wr-team .container .team-slide .poligon img {
        clip-path: polygon(40% 7.67949%, 43.1596% 6.20615%, 46.52704% 5.30384%, 50% 5%, 53.47296% 5.30384%, 56.8404% 6.20615%, 60% 7.67949%, 81.65064% 20.17949%, 84.50639% 22.17911%, 86.97152% 24.64425%, 88.97114% 27.5%, 90.44449% 30.6596%, 91.34679% 34.02704%, 91.65064% 37.5%, 91.65064% 62.5%, 91.34679% 65.97296%, 90.44449% 69.3404%, 88.97114% 72.5%, 86.97152% 75.35575%, 84.50639% 77.82089%, 81.65064% 79.82051%, 60% 92.32051%, 56.8404% 93.79385%, 53.47296% 94.69616%, 50% 95%, 46.52704% 94.69616%, 43.1596% 93.79385%, 40% 92.32051%, 18.34936% 79.82051%, 15.49361% 77.82089%, 13.02848% 75.35575%, 11.02886% 72.5%, 9.55551% 69.3404%, 8.65321% 65.97296%, 8.34936% 62.5%, 8.34936% 37.5%, 8.65321% 34.02704%, 9.55551% 30.6596%, 11.02886% 27.5%, 13.02848% 24.64425%, 15.49361% 22.17911%, 18.34936% 20.17949%); }
    .wr-team .container .team-slide .social-links {
      text-align: center; }
      .wr-team .container .team-slide .social-links a {
        display: inline-block;
        text-decoration: none;
        line-height: 44px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #242830;
        margin: 0 10px; }
        .wr-team .container .team-slide .social-links a svg {
          fill: #fff; }
      .wr-team .container .team-slide .social-links a:hover {
        background-color: #3dc9b3; }

.wr-subscribe {
  position: relative;
  padding-top: 120px;
  padding-bottom: 165px;
  text-align: center;
  background-color: #242830;
  background-image: url("../assets/img/keyboard@1X.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .wr-subscribe .container {
    position: relative; }
    .wr-subscribe .container .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .wr-subscribe .container .form svg {
        fill: #fff; }
      .wr-subscribe .container .form h3 {
        color: #fff;
        margin-bottom: 43px; }
      .wr-subscribe .container .form h3::before {
        display: none; }
    .wr-subscribe .container input {
      padding: 22px;
      width: 345px;
      margin-right: 5px;
      text-align: center;
      font-family: 'Gotham Rounded MediumItalic', sans-serif;
      font-size: 15px;
      letter-spacing: 2px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 1px;
      outline: none; }
      @media screen and (max-width: 375px) {
        .wr-subscribe .container input {
          padding: 15px;
          width: 200px;
          margin-bottom: 10px; } }
    .wr-subscribe .container input:focus {
      border: 1px solid #3dc9b3; }
    .wr-subscribe .container form button.button {
      border: none;
      box-shadow: none;
      padding: 23px 22px;
      border-radius: 1px;
      margin: 0; }
      @media screen and (max-width: 375px) {
        .wr-subscribe .container form button.button {
          padding: 16px; } }
    @media screen and (max-width: 375px) {
      .wr-subscribe .container {
        padding: 50px 0; } }
  .wr-subscribe::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .wr-subscribe .smooth-scrolling {
    display: inline-block;
    position: absolute;
    bottom: -20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #3dc9b3;
    margin-left: -20px; }
    .wr-subscribe .smooth-scrolling svg {
      fill: #fff; }
  .wr-subscribe .smooth-scrolling:hover {
    background-color: #29ad97; }
  @media screen and (max-width: 375px) {
    .wr-subscribe {
      padding: 50px 0; } }

.wr-contacts {
  background-color: #f3f5f8;
  padding-top: 112px;
  padding-bottom: 112px; }
  @media screen and (max-width: 1024px) {
    .wr-contacts {
      padding: 50px 0; } }
  .wr-contacts .container .contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px; }
  .wr-contacts .container .social-links {
    text-align: center; }
    .wr-contacts .container .social-links a {
      display: inline-block;
      text-decoration: none;
      line-height: 44px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #242830;
      margin: 0 10px; }
      .wr-contacts .container .social-links a svg {
        fill: #fff; }
    .wr-contacts .container .social-links a:hover {
      background-color: #3dc9b3; }
  .wr-contacts .container .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px; }
    @media screen and (max-width: 1024px) {
      .wr-contacts .container .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px; } }
    .wr-contacts .container .cards .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      background: #fff;
      width: 360px;
      padding-top: 30px;
      padding-bottom: 30px; }
      @media screen and (max-width: 1024px) {
        .wr-contacts .container .cards .contact {
          margin-bottom: 15px;
          width: 280px;
          border: 1px solid #3dc9b3; } }
      .wr-contacts .container .cards .contact .icon {
        fill: #000;
        margin-bottom: 20px; }
      .wr-contacts .container .cards .contact .type-contact {
        text-transform: uppercase;
        color: #3dc9b3;
        margin-bottom: 25px; }

.wr-footer {
  background-color: #353535;
  padding-top: 55px;
  padding-bottom: 50px; }
  .wr-footer .container {
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    font-family: 'Gotham Rounded Book', sans-serif;
    letter-spacing: 1; }
    @media screen and (max-width: 375px) {
      .wr-footer .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 20px; } }
    .wr-footer .container span {
      color: #fff; }
      .wr-footer .container span span {
        color: #8c9398; }
    .wr-footer .container .footer-link {
      text-decoration: none;
      color: #8c9398; }
    .wr-footer .container .footer-link:hover {
      text-decoration: underline;
      color: #3dc9b3; }

.hidden {
  opacity: 0; }

.fade-in {
  animation: fadeIn ease 3s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
